In [1]:
import numpy as np
import pandas as pd


def fun(cost, num, N):
    k = cost @ num / N
    return k * 52


base_cost = pd.read_excel("basecost.xlsx")
base_cost.head()

  name  base cost
0   软木         20
1    纸         30
2   食品         30
3   稻谷         20
4   家具         30

In [2]:
column = base_cost.columns
cost_name = list()
cost_num = list()
data = pd.DataFrame(columns=base_cost["name"].values)

In [3]:
data.loc[0] = list(range(len(data.columns)))
answer = pd.read_excel("output.xlsx")

In [4]:
choice=[]

In [15]:
name = "武器厂"
num = [70,-10,-20,-10]
cost_name = ['步枪','硬木','钢铁','工具']
k = data[cost_name].values.flatten()
cost = base_cost.iloc[k, 1].values
ans = fun(cost, num, 5000)
answer.loc[0, name] = ans
print(ans)
answer

24.96

,Unnamed: 0,工具厂,钢铁厂,玻璃厂,造纸厂,硫厂,铅厂,炸药厂,肥料厂,纺织厂,...,染料种植园,小麦农场,茶叶种植园,畜牧场,烟草种植园,铁厂,煤炭厂,发动机厂,家具厂,食品厂
0,0,16.64,15.6,14.56,19.76,20.28,14.04,13.52,15.6,12.48,...,10.4,6.24,11.05,6.24,11.05,14.04,12.48,9.36,17.68,11.44

In [6]:
answer['肥料厂']

0    15.6
Name: 肥料厂, dtype: float64

In [7]:
answer['炸药厂']

0    13.52
Name: 炸药厂, dtype: float64

In [8]:
answer['玻璃厂']

0    14.56
Name: 玻璃厂, dtype: float64

In [9]:
answer['家具厂']

0    17.68
Name: 家具厂, dtype: float64

In [10]:
answer['钢铁厂']

0    15.6
Name: 钢铁厂, dtype: float64

In [11]:
answer['造纸厂']

0    19.76
Name: 造纸厂, dtype: float64

In [12]:
answer['纺织厂']

0    12.48
Name: 纺织厂, dtype: float64

In [13]:
answer['铁厂']

0    14.04
Name: 铁厂, dtype: float64

In [14]:
answer['食品厂']

0    11.44
Name: 食品厂, dtype: float64